<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            Saltstack controller
        </a>
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${currentPage == 'minions' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/minions}">Minions</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
