/* Accordion Cards */
.accordion .card-header a {
    color: #495057;
}
.accordion .card-header a:hover {
    color: #2d3135;
    text-decoration: underline;
}

.accordion .oi-chevron-bottom {
    display: inline-block;
}
.accordion .collapsed .oi-chevron-bottom {
    display: none;
}
.accordion .oi-chevron-right {
    display: none;
}
.accordion .collapsed .oi-chevron-right {
    display: inline-block;
}

.accordion .card {
    border-top: 1px solid rgba(0,0,0,.125);
}

.accordion .card:last-of-type {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.accordion .card:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.accordion .table {
    border: none;
}
.accordion .table th:first-child,
.accordion .table td:first-child {
    border-left-width: 0;
}
.accordion .table th:last-child,
.accordion .table td:last-child {
    border-right-width: 0;
}
.accordion .table tr:last-child td {
    border-bottom-width: 0;
}