<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <h1>Containers up</h1>
    <div>
        <div th:each="containerWrapper : ${containersUpWrapper}">
            <div th:each="minonInfo : ${containerWrapper}">
                <div th:text="${'Minion: ' + minonInfo.key}"></div>
                <div th:text="${'Message: ' + minonInfo.value.message}"></div>
                <div th:each="serviceInfo : ${minonInfo.value.services}">
                    <div th:text="${serviceInfo.key + ': ' + serviceInfo.value}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>