<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <h1>Containers info</h1>
    <div>
        <div th:each="containerWrapper : ${containersStatusWrapper}">
            <div th:each="containerInfo : ${containerWrapper}">
                <h3 th:text="${'Minion: ' + containerInfo.key}"></h3>
                <div class="accordion" th:id="${'accordion' + containerInfo.key}">
                    <div class="card" th:each="container : ${containerInfo.value}">
                        <div class="card-header" th:id="${'heading' + container.id}">
                            <a href=""
                               role="button"
                               class="collapsed"
                               data-toggle="collapse"
                               th:data-target="${'#collapse' + container.id}"
                               th:aria-controls="${'collapse' + container.id}">
                                <span class="oi oi-chevron-right"></span>
                                <span class="oi oi-chevron-bottom"></span>
                                <span th:text="${container.name}"></span>
                            </a>
                        </div>
                        <div th:id="${'collapse' + container.id}"
                             class="collapse"
                             th:aria-labelledby="${'heading' + container.id}"
                             th:data-parent="${'#accordion' + containerInfo.key}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-1">Image: </div>
                                    <div class="col" th:text="${container.image}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-1">State:</div>
                                    <div class="col" th:text="${container.state}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-1">Status:</div>
                                    <div class="col" th:text="${container.status}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-1">Creation time:</div>
                                    <div class="col" th:text="${container.timeCreated}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>