<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <h1>Containers stop</h1>
    <div>
        <div th:each="containerWrapper : ${containersStopWrapper}">
            <div th:each="minonInfo : ${containerWrapper}">
                <div th:text="${'Minion: ' + minonInfo.key}"></div>
                <div th:text="${'Status: ' + minonInfo.value.status}"></div>
                <div th:text="${'Message: ' + minonInfo.value.message}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>