<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <h1>Minions</h1>
    <div>
        <div th:each="minions : ${minionsWrapper}">
            <div th:each="minion : ${minions}">
                <span th:text="${minion.key}"></span>
                <span th:text="${minion.value.result().get()}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>