<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <div th:each="networksWrapper : ${networksWrappers}">
        <h1 th:if="${!networksWrapper.isEmpty()}">Available networks</h1>
        <h1 th:if="${networksWrapper.isEmpty()}">No networks available</h1>
        <table th:each="minion : ${networksWrapper}" border="1" cellspacing="5" width="100%">
            <tr width="100%">
                <td width="15%"><span th:text="${minion.key}"></span></td>
                <td th:if="${minion.value.error().isPresent()}"><span>Error!</span></td>
                <td th:if="${minion.value.result().isPresent()}" th:with="adapters=${minion.value.result().get()}">
                    <div th:each="adapter : ${adapters}">
                        <span th:text="${adapter.key}"></span> : <span th:text="${adapter.value.HWAddr}"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>