<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid mt-4">
    <div th:each="networksWrapper : ${networksWrappers.minions}">
        <p th:text="${networksWrapper.toString()}"></p>
    </div>
</div>
</body>
</html>